*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    /* height: calc(100% - 100px); */
    background-color: var(--background-color);
    
    
}
:root{
    --background-color: #f0f0f0;
    --h2-color: black;
    --header-color: white;
    --yojana-color: #c2185b;
    --para-color: #333333;
    --card-para-color: #999999;
    --footer-hover-color:rgba(230, 68, 68, 0.863); 

}
body{
    width: 100%;
    background-color: var(--background-color);
}
.header{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;

}
a{
    color: black;
}
.logo{
    margin-right: 90px;
    padding-top: 5px;
}
.logo img{
    width: 270px;
    height: auto;
}
.ul-list{
    display: flex;
    gap: 50px;
}
.ul-list .list{
    list-style: none;

}
.ul-list .list .nav-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    position: relative;
}


.ul-list .nav-link:before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    top: 20px;
    left: -26%;
    background: var(--yojana-color);
    transition: 0.3s;
}
.nav-link:hover{
    color: var(--yojana-color);
}
.ul-list .nav-link:hover::before{
    width: 150%;
}
#sidebar-active{
    display: none;
}
#sidebar-active:checked ~.ul-list{
    left: 0;
}
#ckbtn{
    display: none;
    font-size: 17px;
}
.Main-container{
    width: 100%;
    height: 100%;
    
}
.hero-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;



}
.searchbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    margin: 10px;
    margin-top: 170px;
    padding: 23px 0;
    width: 60%;
    border-radius: 40px;
    border: 2px solid var(--yojana-color);
    margin-top: 160px;
}
.input-box{
    outline: none;
    border: none;
    width: 90%;
    padding: 14px 0;
    padding-left: 5px;
    margin-left: 7px;
    background-color: var(--background-color);
}
.search-icon{
    font-size: 18px;
    padding-right: 10px;
    color: var(--para-color);
    color: black;
}
.hero-content{
    margin-top: 20px;
    width: 88%;
}
.hero-content p{
    font-size: 19px;
    padding: 15px 2px;
    line-height: 1.9;
    margin-top: 10px;
}
.hero-content h2{
    font-weight: bold;
    font-size: 29px;

}
.spn-s{
    color: var(--h2-color);
    font-weight: 700;
}
.hero-content{
    text-align: center;
    
}


@media(max-width: 480px){
    .navbar{
        width: 100%;
        height: 50px;
    }
    .ul-list{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        background-color: var(--background-color);
        position: fixed;
        top: 52px;
        left: -100%;
        z-index: 10;
        gap: 0;

    }
    .ul-list .list{
        width: 100%;
        padding: 10px 20px;
    }
    .ul-list .nav-link:before{
        display: none;
    }
    .ul-list .list:hover{
        background-color: var(--yojana-color);
        width: 100%;
    }

    #ckbtn{
        display: block;
    }
    .logo img{
        width: 200px;
        margin-right: 70px;
    }
    .hero-section{
        flex-wrap: wrap;
        width: 100%;
    }
    .searchbar{

    } 
   .searchbar .input-box{
        width: 100%;
    }


    
}

